
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
buildNumber.properties
dependency-reduced-pom.xml
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
