
!/.mvn/wrapper/maven-wrapper.jar
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
*.hprof
*.iml
.idea/
.mvn/timing.properties
buildNumber.properties
dependency-reduced-pom.xml
java-reference-counter.iml
logs/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
